.icon {
  stroke-width: 0.1px;
  text-align: center;
  padding: 1em;
  background-color: white;
  color: black;
  border: 0.5px grey solid;
  border-radius: 7px;
}

.icon:hover {
  background-color: #db4444;
  color: white;
  border: none;
}
